.constructor-element {
  padding: 16px 24px;
  display: inline-flex;
  justify-content: center;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  font-family: 'Jet Brains Mono', serif;
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;
  box-sizing: border-box;
}

.constructor-element_pos_top {
  border-radius: var(--top-constructor-item-border-radius);
  margin-bottom: 8px;

}

.constructor-element_pos_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
  margin: 8px 0 40px 0;
}

.constructor-element__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.constructor-element_pos_top.is-dragging,
.constructor-element_pos_bottom.is-dragging {
  border: 3px dashed #27b700;
}
