.burger-constructor {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 100px 8px 0;
  text-align: center;
}

.constructor-elements__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 480px;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
  list-style: none;
  padding: 0 10px 0 0;
  margin: 0;
  border: 3px solid transparent;
  border-radius: 10px;
}

.total-price {
  display: flex;
  align-items: center;
  line-height: 0;
}

.preorder-info {
  display: flex;
  justify-content: flex-end;
}

.bun-top,
.bun-bottom {
  border: 3px dashed transparent;
}

.is-dragging .bun-top,
.is-dragging .bun-bottom {
  border: 3px dashed #27b700;
}

.constructor-elements__wrapper.is-dragging {
  border: 3px dashed #27b700;
}
