.ingredient-item {
  position: relative;
  width: 100%;
  max-width: 272px;
}

.ingredient-item__price {
  display: flex;
  justify-content: center;
}

.ingredient-item__counter {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4C4CFF;
}
