.burger-ingredients {
  width: 100%;
  max-width: 600px;
  border: 1px solid lightseagreen;
  max-height: calc(100vh - 88px);
}

.subtitle {
  text-align: left;
}

.ingredients-wrapper {
  border:1px solid red;
  height: calc(100vh - 297px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Стили для компонента ingredients-group (вынести в отдельный файл) */
.ingredients-group {
}

.ingredients-group__title {
  text-align: left;
}

.ingredient-item__container {
  padding: 24px 16px 40px;
}
