.app-header {
  background-color: #1c1c21;
  display: flex;
  justify-content: center;
  height: 88px;
}

.container {
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
}

.logo-wrapper {
  line-height: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 343px;
}

.nav-btn {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
